form {
  margin: 20px;
  border: 1px solid $primary-color;

  display: inline-block;
  position: relative;

  width: 300px;
  height: 400px;

  #part1,
  #part2 {
    // margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      background-color: #fff;
      transition: 0.5s;
    }

    &.fadeOut {
      &:before {
        width: 100%;
      }
    }

    &.fadeIn {
      display: block;
      opacity: 1;
    }
  }

  #part1 {
    opacity: 1;
  }

  #part2 {
    display: none;
    opacity: 0;
  }

  label, input:not(.button) {
    margin-bottom: 5px;
    font-size: 1.6rem;
    display: block;
    width: 100%;
  }

  label {
    text-align: center;
  }

  input {
    padding: 5px;
  }



  @media (min-width: $breakpoint-sm) {
    label, input:not(.button) {
      width: 200px;
      display: inline-block;
    }
    label {
      text-align: right;
    }

    .button {
      width: 200px;
    }
  }
}

.item img {
  max-height: 200px;
  width: auto
}

.carousel-control.right,
.carousel-control.left {
  background: none;
}
