.button {
  background-color: $primary-color;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  outline: none;
  border: 0;
  transform: all 0.5s;

  &:hover {
    background-color: darken($primary-color, 3%);
  }
  &:active {

  }
}
